.movieDetails {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-evenly;
}

.posterArea {
    width: 20%;
}

.poster {
    width: 100%;
    display: block;
}

.info {
    width: 70%;
}

.additionalInfo {
    margin-left: 20px;
    width: 100%;
    text-align: left;
}
